<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <th:block layout:fragment="title">Sign In</th:block>
    <link th:href="@{/css/app.css}" rel="stylesheet" layout:fragment="css"/>
</head>
<body>
<div layout:fragment="content" id="content" class="shadow-lg row container d-flex justify-content-center">
    <div class="sidebar-l col-lg-8">
        <img class="team-img" style="width: 600px; height: 480px; margin-left: 140px;" th:src="@{/images/team.png}">
    </div>
    <div class="sidebar-r col-lg-4 col-sm-12 mt-4">
        <div class="tab-content" style="float: left;" id="tabContent">
            <ul class="nav nav-tabs border-0 d-flex justify-content-around" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="ajax-tab" data-bs-toggle="tab" data-bs-target="#ajax" type="button" role="tab" aria-controls="ajax" aria-selected="true">AJAX</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="form-tab" data-bs-toggle="tab" data-bs-target="#form" type="button" role="tab" aria-controls="form" aria-selected="false">Form Submit</button>
                </li>
            </ul>
            <div class="tab-pane fade show active" id="ajax" role="tabpanel" aria-labelledby="ajax-tab">
                <div class="form">
                    <div class="text-center mt-5 mb-5">
                        <img th:src="@{/images/systex.png}" alt="systex-logo">
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingUsername" placeholder="Username" name="username" autocomplete="off" required>
                            <label for="floatingUsername">使用者名稱</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required minlength="8" maxlength="16">
                            <label for="floatingPassword">密碼</label>
                        </div>
                    </div>
                    <div class="form-check mb-3">
                        <input class="rounded-bottom form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            記住我
                        </label>
                    </div>
                    <button class="ajax-btn btn btn-primary">登入</button>
                    <p class="mt-5 mb-3 text-body-secondary">© 2024</p>
                </div>
            </div>
            <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                <form method="POST" th:action="@{/auth/login}" class="form">
                    <div class="text-center mt-5 mb-5">
                        <img class="systex-logo" th:src="@{/images/systex.png}" alt="systex-logo">
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingUsername2" placeholder="Username" name="formUsername" autocomplete="off" required>
                            <label for="floatingUsername2">使用者名稱</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword2" placeholder="Password" name="formPassword" required>
                            <label for="floatingPassword2">密碼</label>
                        </div>
                    </div>
                    <div class="form-check mb-3">
                        <input class="rounded-bottom form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                        <label class="form-check-label" for="flexCheckDefault2">
                            記住我
                        </label>
                    </div>
                    <button class="form-btn btn btn-primary">登入</button>
                    <p class="mt-5 mb-3 text-body-secondary">© 2024</p>
                </form>
            </div>
        </div>
    </div>
</div>
    <th:block layout:fragment="scripts">
        <script th:src="@{/js/app.js}"></script>
    </th:block>
</body>
</html>
