<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
</head>
<body>
	<a th:href="@{/logout}">logout</a>
	
    <h1>Account List</h1>
    <table class="table table-bordered" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
				<th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.id}"></td>
                <td th:text="${account.username}"></td>
				<td th:text="${account.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
